<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="https://lms464.github.io/LiamsBlog">Home</a></li>
<li><a href="https://lms464.github.io/LiamsBlog/about">About</a></li>
<li><a href="https://lms464.github.io/LiamsBlog/cv">CV</a></li>
<li><a href="https://lms464.github.io/LiamsBlog/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:l.m.sharp215@gmail.com">email</a></li>
   <li><a href="https://github.com/lms464">github</a></li>
   </ul>
  </footer>
  </body>

</html>
